{% block styles %}
	{{ super() }} 
	<link rel="stylesheet" href="css/contacts.css" />
{% endblock %}

{% block contacts %}
	<div class="contacts" id="contacts">
	<div class="contacts_text">
		<h2>Contact us</h2>
		<h3>We would really love to hear from you!</h3>
	</div>
</div>

	<div class="contacts_container__width">

	<div class="contacts_container">
		<div class="contacts_container__main">
			<div class="contacts_container__main__forms">
				<div class="contacts_container__main__forms__naming"><h4>Your name</h4><h5>required</h5></div>
				<input type="text" name="name" class="small_input" >
				
				<div class="contacts_container__main__forms__naming"><h4>Your email</h4><h5>required</h5></div>
				<input type="email" name="email" class="small_input">
				
				<div class="contacts_container__main__forms__naming"><h4>Subject</h4></div>
				<input type="text" name="subject" class="small_input">
				
				<div class="contacts_container__main__forms__naming"><h4>Message</h4><h5>required</h5></div>
				<textarea name="message" class="message_input" > </textarea>
				
				<button>Send</button>
				
			</div>
			
			
			<div class="contacts_container__main__info">
				<h6>Contactinfo</h6>
				<br>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut varius felis. Phasellus purus metus, faucibus a nisi vel, tincidunt condimentum elit. Cras in aliquet ante, at hendrerit nisl.</p>
				<br>
				<p> Praesent posuere ex eu vehicula iaculis. Mauris in pulvinar mi. Fusce vel quam malesuada, eleifend tortor quis, vestibulum tortor. </p>
				<br><br>
	{% from "src/templates/layout/block/contacts_blocks.njk" import contacts_block %}
		{{ contacts_block('images/contacts_1.png', 'Lorem ipsum dolor 123', '1000 Lorem ipsum') }}
		{{ contacts_block('images/contacts_2.png', 'Lorem ipsum dolor 123', '1000 Lorem ipsum') }}
		{{ contacts_block('images/contacts_3.png', 'Lorem ipsum dolor 123', '1000 Lorem ipsum') }}
			</div>
		</div>
	</div>
	
	<div class="contacts_container__top">
		<div class="contacts_container__top__logo"><img src="images/contacts_roran.png"></div>
	</div>
	<div class="contacts_container__bottom"></div>
	
	</div>
	
{% endblock %}