{% block styles %}
	{{ super() }} 
		<link rel="stylesheet" href="css/footer.css"/>
{% endblock %}
	{% block footer %}
		<footer>
			<div class="footer">
				<div class="footer_text">© 2014 Roran. All rights reserved</div>
				<div class="footer_icon">
					<a href=""><img src="images/instagram.png"/></a>
					<a href=""><img src="images/pinterest.png"/></a>
					<a href=""><img src="images/twitter.png"/></a>
					<a href=""><img src="images/facebook.png"/></a>
				</div>
			</div>
		</footer>
	{% endblock %}