	{% block styles %} 
	{{ super() }}
	<link rel="stylesheet" href="css/header.css"/>
    {% endblock %}
	{% block header %}
    <div class="header" id="header">
		<div class= "header_logo">
			<p class="header_roran"><strong>Roran.</strong></p>
			<h1>PLS TEMPLE</h1>
			<h2>By LunarTemplates</h2>
			<div class="header_border"></div>
			<p class="header_lunar"> <i>www.lunartemplates.com</i></p>

			<div class="header_image">	
				<a href="#" class="header_free"><img src="images/free.png" alt="free to download" /></a>
				<a href="#about" class="header_arrow"><img src="images/arrow.png" alt="" /></a>
			</div>
				<div class="header_color_fon">
				</div>
		</div>		
	</div>
{% endblock %}
