/*mobile*/
.contacts {
  width: 100%;
  background-color: #fff; }

.contacts_text {
  width: 320px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px; }

.contacts_text h1 {
  font-size: 140%; }

.contacts_text h2 {
  font-size: 110%;
  font-weight: 400;
  color: #989898; }

.contacts_container__width {
  width: 100%;
  position: relative;
  height: 1400px; }

.contacts_container__top {
  background-color: #00A58F;
  height: 50%;
  padding-top: 55px; }

.contacts_container__top__logo {
  margin-left: auto;
  margin-right: auto;
  width: 150px; }

.contacts_container__bottom {
  background-color: #f0f0f0;
  float: bottom;
  height: 50%; }

.contacts_container {
  margin: auto;
  width: 100%;
  position: absolute; }

.contacts_container__main {
  width: 320px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 145px; }

.contacts_container__main__forms {
  padding: 5%;
  padding-top: 55px;
  width: 68%; }

.contacts_container__main__forms__naming {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px; }

.contacts_container__main__forms__naming h1 {
  font-size: 85%;
  font-weight: 400; }

.contacts_container__main__forms__naming h2 {
  font-size: 75%;
  font-weight: 400;
  color: #00A58F; }

.small_input {
  width: 100%;
  border: 0px;
  height: 45px;
  padding: 15px;
  margin-bottom: 20px; }

.small_input[type=text] {
  background-color: #fff;
  color: #000;
  border: 1px solid #EBEBEB; }

.small_input[type=email] {
  background-color: #fff;
  color: #000;
  border: 1px solid #EBEBEB; }

.message_input {
  width: 100%;
  border: 0px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #EBEBEB; }

.contacts_container__main__forms button {
  border: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 30px;
  background-color: #00A58F;
  color: #fff;
  font-weight: 900;
  font-size: 100%; }

.contacts_container__main__info {
  margin: auto;
  padding-left: 50px;
  width: 320px;
  padding: 10px;
  padding-top: 50px;
  padding-right: 60px; }

.contacts_container__main__info h1 {
  font-size: 130%; }

.contacts_container__main__info p {
  font-size: 75%;
  color: #898989; }

.contacts_container__main__location {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 30px; }

.contacts_container__main__location p {
  color: #000 !important; }
