{% macro about_some_block (image, Some_fancy_block, colors_block, Lorem_impsum_block) %}
	<div class="about_some_block">
		<img src="{{ image }}" width="15%" ></img>
		<h2>{{Some_fancy_block}}<span style="color: #39A38F;">{{colors_block}}</span></h2>	
		<br>
		 <p style="color: #989898;">{{Lorem_impsum_block}}</p>					
	</div>
{% endmacro %}
