{% macro services_block(image, heading, keyword, text) %}

	<div class="services_block">
		<div class="services_block__image"><img src="{{ image }}"></img></div>
			<div class="service_block__text">
				<h2>{{ heading }}&nbsp;<span style="color:#39A38F;">{{ keyword }}</h2>
				<div class="service_block__border">
				</div>
				<p>{{ text }}</p>
			</div>
	</div>

{% endmacro %}