{% macro team_block(image, name, position ) %}
	<div class="team_block">
	<img src="{{ image }}" width="100%" height="100%" ></img>
		<div class="team_block__tittle">
			<h2>{{ name }}<h2>
			<br>
			<h6>{{ position }}</h6>
		</div>
		
	</div>
{% endmacro %}
