/*mobile*/
.services{
	width: 100%;
	background-color: #ffff;
	
}

.services_text{
	margin: auto;
	width: 320px;
}
.services_our__serveces{
	margin-top: 50px;
	text-align: center;
	
}

.services_our__serveces h1{
	font-size: 140%;
}

.services_our__serveces h2{
	font-weight: 400;
	color: #989898;
	font-size: 105%;
}

.services_text__border{
	border-bottom: 1px solid #989898;
    font-weight: normal;
    padding-bottom: 5px;
	width: 105px;
	margin-left: 35%;
	margin-top: 15px;
}

.services_content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}
.services_block{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	width:300px;
}

.service_block__text{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	text-align:left;
}

.service_block__text h1 {
	font-weight: 400;
	font-size: 110%;
}

.service_block__text p {
	font-size: 85%;
	color: #989898;
	margin-top: 30px;
}

.service_block__border{
	border-bottom: 1px solid #989898;
    font-weight: normal;
    padding-bottom: 5px;
	width: 70px;
}

.services_quote{
	width: 100%;
	background-color: #00A791;
}

.services_quote__text{
	width: 320px;
	color: #ffff;
	margin: auto;
	margin-top:50px;
	margin-bottom:50px;
	text-align: center;

}

.services_quote__text h1{
	font-size: 130%;
	font-weight: 400;

}

.services_quote__border{
	border-bottom: 1px solid #ffff;
    font-weight: normal;
    padding-bottom: 5px;
	width: 105px;
	margin-left: 34%;
	margin-top: 15px;
}


.services_quote__text{
	font-size: 120%;
	font-weight: 400;
}

.services_quote__text p{
	margin-top:20px;
}

.images_quote {
	padding-left:260px;
}
