/*mobile*/
.team{
	width: 100%;
	background-color: #ffff;
	position: relative;
	padding: 50px 10px;
}

.team_text{
	margin: auto;
	width: 320px;
}

.triangle {
	left: 45%;
	width: 43px;
	position: absolute;
	bottom:-5px;
}

.team_tittle{
	text-align: center;
	margin-top: 38px;
}

.team_tittle h1{
	font-size: 148%;
}

.team_tittle h2{
	font-weight: 400;
	color: #989898;
	font-size: 108%;
}

.team_content__fullwidth {
	width: 100%;
	background-color: #f0f0f0;
}

.team_content {
	width: 320px;
	margin: auto;
	padding-bottom: 45px;
	padding-top: 40px;
}

.tns-nav {
	text-align: center;
	margin-top: 20px;
}

.tns-nav  button {
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	background-color: #d6d6d6;
}

.tns-nav-active {
	background-color: #39A38F !important;
}

.team_block {
	margin: auto;
	background-color: #39A38F;;
	width: 300px;
	display: flex;
	flex-direction: column;
	padding-top: 230px;
}

.team_block h2 {
	font-size: 110%;
}

.team_block__pfoto {
	float: top;
}

.team_block__tittle {
	background-color: #ffff;
	width: 100%;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: auto;
}

.tns-slider {
	box-sizing: border-box;
}

.team__tittle:hover{
	background-color: #39A38F;
	color: #ffff;
}