/* desktop */
.menu{
	width: 100%;
	background-color: #ffff;
	border-bottom: 1px solid #e0e0e0;
	height: 62px;
	
}

.menu_text {
	margin: auto;
	background-color: #fff;
	height: 61px;
	width: 960px;
	padding-bottom: 10px;
	flex-direction: row;
	align-items: baseline;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	position: relative;
	padding-top: 15px;
  }	

.menu_text ul{
	display: flex;
	list-style: none;
	flex-direction: row;
}
.menu_text nav {
	margin: auto;
	font-size: 15px;
	font-weight: 200;
	padding: 0px;;
}


.menu_text li {
	display: inline;
	float: left;
}

.menu_text h2 {
	display: block;
	font-size: 30px;
	font-weight: 600;
}
.menu_text a{
	text-decoration:none;
	display: block;
	padding-right: 25px;
	color: #999999;

}

.menu_text a:hover {
	color: #000;
}

.menu_icon {
	display: flex;
}

.menu_text span {
	color: #00A58F;
}

.menu_mobile {
	 display:none;
  }